<?xml version="1.0" ?>
<MyModConfig>
  <VendorConfig>
    <Item>
      <Id>AeroconSystems</Id>
      <DisplayName>Aerocon Systems</DisplayName>
      <Tag>AES</Tag>
      <Category>Mechanical Products</Category>
      <Products>
        <Item>Motor</Item>
        <Item>SmallTube</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>25.0</Quantity>
        </Item>
        <Item>
          <Id>Nickel</Id>
          <Type>Ingots</Type>
          <Quantity>5.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>ACPComposites</Id>
      <DisplayName>ACP Composites</DisplayName>
      <Tag>ACP</Tag>
      <Category>Silicon Products</Category>
      <Products>
        <Item>Display</Item>
        <Item>Computer</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>1.5</Quantity>
        </Item>
        <Item>
          <Id>Silicon</Id>
          <Type>Ingots</Type>
          <Quantity>5.2</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>EuroSpaceTechnology</Id>
      <DisplayName>Euro Space Technology</DisplayName>
      <Tag>EUS</Tag>
      <Category>Propulsion</Category>
      <Products>
        <Item>Thrust</Item>
        <Item>LargeTube</Item>
        <Item>Superconductor</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>70.0</Quantity>
        </Item>
        <Item>
          <Id>Cobalt</Id>
          <Type>Ingots</Type>
          <Quantity>10.0</Quantity>
        </Item>
        <Item>
          <Id>Gold</Id>
          <Type>Ingots</Type>
          <Quantity>3.0</Quantity>
        </Item>
        <Item>
          <Id>Platinum</Id>
          <Type>Ingots</Type>
          <Quantity>0.4</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>ApogeeRockets</Id>
      <DisplayName>Apogee Rockets</DisplayName>
      <Tag>APR</Tag>
      <Category>Misc Components</Category>
      <Products>
        <Item>BulletproofGlass</Item>
        <Item>Canvas</Item>
        <Item>Display</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Silicon</Id>
          <Type>Ingots</Type>
          <Quantity>55.0</Quantity>
        </Item>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>3.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>LOCPrecision</Id>
      <DisplayName>LOC Precision</DisplayName>
      <Tag>LOC</Tag>
      <Category>Sensor Components</Category>
      <Products>
        <Item>Detector</Item>
        <Item>RadioCommunication</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>13.0</Quantity>
        </Item>
        <Item>
          <Id>Nickel</Id>
          <Type>Ingots</Type>
          <Quantity>15.0</Quantity>
        </Item>
        <Item>
          <Id>Silicon</Id>
          <Type>Ingots</Type>
          <Quantity>1.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>TectronMetal</Id>
      <DisplayName>Tectron Metal</DisplayName>
      <Tag>TEC</Tag>
      <Category>Steel Products</Category>
      <Products>
        <Item>SteelPlate</Item>
        <Item>Construction</Item>
        <Item>InteriorPlate</Item>
        <Item>Girder</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.1</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>38.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>AEMEnergia</Id>
      <DisplayName>AEM Energia</DisplayName>
      <Tag>AEM</Tag>
      <Category>Energy Misc Components</Category>
      <Products>
        <Item>PowerCell</Item>
        <Item>SolarCell</Item>
        <Item>Reactor</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>25.0</Quantity>
        </Item>
        <Item>
          <Id>Silicon</Id>
          <Type>Ingots</Type>
          <Quantity>7.0</Quantity>
        </Item>
        <Item>
          <Id>Nickel</Id>
          <Type>Ingots</Type>
          <Quantity>5.0</Quantity>
        </Item>
        <Item>
          <Id>Stone</Id>
          <Type>Ingots</Type>
          <Quantity>20.0</Quantity>
        </Item>
        <Item>
          <Id>Silver</Id>
          <Type>Ingots</Type>
          <Quantity>5.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>SideEstructuras</Id>
      <DisplayName>Side Estructuras</DisplayName>
      <Tag>SE</Tag>
      <Category>Structural Components</Category>
      <Products>
        <Item>MetalGrid</Item>
        <Item>Girder</Item>
        <Item>Construction</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>26.0</Quantity>
        </Item>
        <Item>
          <Id>Nickel</Id>
          <Type>Ingots</Type>
          <Quantity>5.0</Quantity>
        </Item>
        <Item>
          <Id>Cobalt</Id>
          <Type>Ingots</Type>
          <Quantity>3.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>CABMedical</Id>
      <DisplayName>CAB Medical</DisplayName>
      <Tag>CAB</Tag>
      <Category>Hab Components</Category>
      <Products>
        <Item>Medical</Item>
        <Item>OxygenBottle</Item>
        <Item>Medkit</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>144.5</Quantity>
        </Item>
        <Item>
          <Id>Nickel</Id>
          <Type>Ingots</Type>
          <Quantity>101.75</Quantity>
        </Item>
        <Item>
          <Id>Silver</Id>
          <Type>Ingots</Type>
          <Quantity>20.0</Quantity>
        </Item>
        <Item>
          <Id>Silicon</Id>
          <Type>Ingots</Type>
          <Quantity>12.75</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>DynamicDefense</Id>
      <DisplayName>Dynamic Defense Systems</DisplayName>
      <Tag>DDS</Tag>
      <Category>Defense &amp; Industrial</Category>
      <Products>
        <Item>Explosives</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>600</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Silicon</Id>
          <Type>Ingots</Type>
          <Quantity>0.5</Quantity>
        </Item>
        <Item>
          <Id>Magnesium</Id>
          <Type>Ingots</Type>
          <Quantity>2.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>OrbitalRations</Id>
      <DisplayName>Orbital Rations Co.</DisplayName>
      <Tag>ORC</Tag>
      <Category>Basic Rations</Category>
      <Products>
        <Item>MealPack_KelpCrisp</Item>
        <Item>MealPack_FruitBar</Item>
        <Item>MealPack_GardenSlaw</Item>
        <Item>MealPack_RedPellets</Item>
        <Item>MealPack_Chili</Item>
        <Item>MealPack_Ramen</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>300</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>MealPack_KelpCrisp</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_FruitBar</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_GardenSlaw</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_RedPellets</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_Chili</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_Ramen</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>VerdantProvisions</Id>
      <DisplayName>Verdant Provisions</DisplayName>
      <Tag>VDP</Tag>
      <Category>Premium Meals</Category>
      <Products>
        <Item>MealPack_Flatbread</Item>
        <Item>MealPack_FruitPastry</Item>
        <Item>MealPack_Lasagna</Item>
        <Item>MealPack_Burrito</Item>
        <Item>MealPack_Spaghetti</Item>
        <Item>MealPack_SteakDinner</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>600</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>MealPack_Flatbread</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_FruitPastry</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_Lasagna</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_Burrito</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_Spaghetti</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
        <Item>
          <Id>MealPack_SteakDinner</Id>
          <Type>Consumables</Type>
          <Quantity>1.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
    <Item>
      <Id>Cryoinfra</Id>
      <DisplayName>Cryoinfra</DisplayName>
      <Tag>CYO</Tag>
      <Category>Gases</Category>
      <Products>
        <Item>HydrogenBottle</Item>
        <Item>Hydrogen</Item>
        <Item>Oxygen</Item>
      </Products>
      <Blocks>
        <Item>Reactor</Item>
        <Item>Assembler</Item>
        <Item>H2/O2</Item>
        <Item>Store</Item>
        <Item>Storage</Item>
      </Blocks>
      <RestockTick>600</RestockTick>
      <RestockMultiplier>1.0</RestockMultiplier>
      <Procurement>
        <Item>
          <Id>Iron</Id>
          <Type>Ingots</Type>
          <Quantity>80.0</Quantity>
        </Item>
        <Item>
          <Id>Silicon</Id>
          <Type>Ingots</Type>
          <Quantity>10.0</Quantity>
        </Item>
        <Item>
          <Id>Nickel</Id>
          <Type>Ingots</Type>
          <Quantity>30.0</Quantity>
        </Item>
        <Item>
          <Id>Ice</Id>
          <Type>Ores</Type>
          <Quantity>4.0</Quantity>
        </Item>
      </Procurement>
      <BuyBack>true</BuyBack>
    </Item>
  </VendorConfig>
  <ProductsConfig>
    <Item>
      <Id>SteelPlate</Id>
      <Type>Component</Type>
      <BasePrice>100</BasePrice>
      <BufferSize>5000</BufferSize>
    </Item>
    <Item>
      <Id>Construction</Id>
      <Type>Component</Type>
      <BasePrice>100</BasePrice>
      <BufferSize>10000</BufferSize>
    </Item>
    <Item>
      <Id>MetalGrid</Id>
      <Type>Component</Type>
      <BasePrice>125</BasePrice>
      <BufferSize>2000</BufferSize>
    </Item>
    <Item>
      <Id>InteriorPlate</Id>
      <Type>Component</Type>
      <BasePrice>100</BasePrice>
      <BufferSize>7500</BufferSize>
    </Item>
    <Item>
      <Id>Girder</Id>
      <Type>Component</Type>
      <BasePrice>60</BasePrice>
      <BufferSize>6000</BufferSize>
    </Item>
    <Item>
      <Id>SmallTube</Id>
      <Type>Component</Type>
      <BasePrice>60</BasePrice>
      <BufferSize>8000</BufferSize>
    </Item>
    <Item>
      <Id>LargeTube</Id>
      <Type>Component</Type>
      <BasePrice>80</BasePrice>
      <BufferSize>4500</BufferSize>
    </Item>
    <Item>
      <Id>Motor</Id>
      <Type>Component</Type>
      <BasePrice>100</BasePrice>
      <BufferSize>3000</BufferSize>
    </Item>
    <Item>
      <Id>Display</Id>
      <Type>Component</Type>
      <BasePrice>20</BasePrice>
      <BufferSize>2000</BufferSize>
    </Item>
    <Item>
      <Id>BulletproofGlass</Id>
      <Type>Component</Type>
      <BasePrice>200</BasePrice>
      <BufferSize>6000</BufferSize>
    </Item>
    <Item>
      <Id>Superconductor</Id>
      <Type>Component</Type>
      <BasePrice>500</BasePrice>
      <BufferSize>2000</BufferSize>
    </Item>
    <Item>
      <Id>Computer</Id>
      <Type>Component</Type>
      <BasePrice>300</BasePrice>
      <BufferSize>10000</BufferSize>
    </Item>
    <Item>
      <Id>Reactor</Id>
      <Type>Component</Type>
      <BasePrice>1000</BasePrice>
      <BufferSize>2500</BufferSize>
    </Item>
    <Item>
      <Id>Thrust</Id>
      <Type>Component</Type>
      <BasePrice>800</BasePrice>
      <BufferSize>2000</BufferSize>
    </Item>
    <Item>
      <Id>GravityGenerator</Id>
      <Type>Component</Type>
      <BasePrice>5000</BasePrice>
      <BufferSize>200</BufferSize>
    </Item>
    <Item>
      <Id>RadioCommunication</Id>
      <Type>Component</Type>
      <BasePrice>50</BasePrice>
      <BufferSize>1500</BufferSize>
    </Item>
    <Item>
      <Id>Detector</Id>
      <Type>Component</Type>
      <BasePrice>100</BasePrice>
      <BufferSize>1000</BufferSize>
    </Item>
    <Item>
      <Id>SolarCell</Id>
      <Type>Component</Type>
      <BasePrice>150</BasePrice>
      <BufferSize>2500</BufferSize>
    </Item>
    <Item>
      <Id>PowerCell</Id>
      <Type>Component</Type>
      <BasePrice>90</BasePrice>
      <BufferSize>2500</BufferSize>
    </Item>
    <Item>
      <Id>Canvas</Id>
      <Type>Component</Type>
      <BasePrice>20</BasePrice>
      <BufferSize>1000</BufferSize>
    </Item>
    <Item>
      <Id>Medical</Id>
      <Type>Component</Type>
      <BasePrice>1500</BasePrice>
      <BufferSize>500</BufferSize>
    </Item>
    <Item>
      <Id>Explosives</Id>
      <Type>Component</Type>
      <BasePrice>300</BasePrice>
      <BufferSize>1000</BufferSize>
    </Item>
    <Item>
      <Id>OxygenBottle</Id>
      <Type>OxygenContainerObject</Type>
      <BasePrice>400</BasePrice>
      <BufferSize>50</BufferSize>
    </Item>
    <Item>
      <Id>HydrogenBottle</Id>
      <Type>GasContainerObject</Type>
      <BasePrice>400</BasePrice>
      <BufferSize>25</BufferSize>
    </Item>
    <Item>
      <Id>Medkit</Id>
      <Type>Consumable</Type>
      <BasePrice>200</BasePrice>
      <BufferSize>20</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_KelpCrisp</Id>
      <Type>Consumable</Type>
      <BasePrice>50</BasePrice>
      <BufferSize>500</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_FruitBar</Id>
      <Type>Consumable</Type>
      <BasePrice>60</BasePrice>
      <BufferSize>500</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_GardenSlaw</Id>
      <Type>Consumable</Type>
      <BasePrice>70</BasePrice>
      <BufferSize>400</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_RedPellets</Id>
      <Type>Consumable</Type>
      <BasePrice>70</BasePrice>
      <BufferSize>400</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_Chili</Id>
      <Type>Consumable</Type>
      <BasePrice>80</BasePrice>
      <BufferSize>400</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_Flatbread</Id>
      <Type>Consumable</Type>
      <BasePrice>80</BasePrice>
      <BufferSize>400</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_Ramen</Id>
      <Type>Consumable</Type>
      <BasePrice>80</BasePrice>
      <BufferSize>400</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_FruitPastry</Id>
      <Type>Consumable</Type>
      <BasePrice>90</BasePrice>
      <BufferSize>300</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_Lasagna</Id>
      <Type>Consumable</Type>
      <BasePrice>120</BasePrice>
      <BufferSize>300</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_Burrito</Id>
      <Type>Consumable</Type>
      <BasePrice>120</BasePrice>
      <BufferSize>300</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_Spaghetti</Id>
      <Type>Consumable</Type>
      <BasePrice>130</BasePrice>
      <BufferSize>250</BufferSize>
    </Item>
    <Item>
      <Id>MealPack_SteakDinner</Id>
      <Type>Consumable</Type>
      <BasePrice>180</BasePrice>
      <BufferSize>200</BufferSize>
    </Item>
  </ProductsConfig>
  <BlockConfig>
    <Item>
      <Id>Storage</Id>
      <BlockName>Storage.[%TAG%]</BlockName>
    </Item>
    <Item>
      <Id>Store</Id>
      <BlockName>Store.[%TAG%]</BlockName>
    </Item>
    <Item>
      <Id>Reactor</Id>
      <BlockName>Reactor.[%TAG%]</BlockName>
    </Item>
    <Item>
      <Id>Assembler</Id>
      <BlockName>Assembler.[%TAG%]</BlockName>
    </Item>
    <Item>
      <Id>H2O2</Id>
      <BlockName>H2/O2.[%TAG%]</BlockName>
    </Item>
  </BlockConfig>
</MyModConfig>
